In [1]:
!pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\arman\anaconda3\envs\pythondata\lib\site-packages (2.8.6)

In [2]:
import pandas as pd
from sqlalchemy import create_engine

In [3]:
# Store CSV into Dataframe

csv_file2 = "../ETL_project/Resources/Independence100.csv"
independence_df = pd.read_csv(csv_file2)
independence_df.set_index("Rank", inplace=True)
independence_df.head()

,Restaurant,Sales,Average Check,City,State,Meals Served
Rank,,,,,,
1,Carmine's (Times Square),39080335.0,40,New York,N.Y.,469803.0
2,The Boathouse Orlando,35218364.0,43,Orlando,Fla.,820819.0
3,Old Ebbitt Grill,29104017.0,33,Washington,D.C.,892830.0
4,LAVO Italian Restaurant & Nightclub,26916180.0,90,New York,N.Y.,198500.0
5,Bryant Park Grill & Cafe,26900000.0,62,New York,N.Y.,403000.0

In [4]:
# Store CSV into Dataframe

csv_file3 = "../ETL_project/Resources/Top250.csv"
top_df = pd.read_csv(csv_file3)
top_df.set_index("Rank", inplace=True)
top_df.head()

,Restaurant,Content,Sales,YOY_Sales,Units,YOY_Units,Headquarters,Segment_Category
Rank,,,,,,,,
1,McDonald's,NaN,40412,4.9%,13846,-0.5%,NaN,Quick Service & Burger
2,Starbucks,NaN,21380,8.6%,15049,3.0%,NaN,Quick Service & Coffee Cafe
3,Chick-fil-A,While Popeyes got a lot of the chicken buzz in...,11320,13.0%,2470,5.0%,NaN,Quick Service & Chicken
4,Taco Bell,NaN,11293,9.0%,6766,2.7%,NaN,Quick Service & Mexican
5,Burger King,NaN,10204,2.7%,7346,0.2%,NaN,Quick Service & Burger

In [6]:
# Cleaning Independence CSV


new_independence_df = independence_df[["Restaurant", "Sales", "City", "State", "Meals Served"]].copy()
new_independence_df.head()

,Restaurant,Sales,City,State,Meals Served
Rank,,,,,
1,Carmine's (Times Square),39080335.0,New York,N.Y.,469803.0
2,The Boathouse Orlando,35218364.0,Orlando,Fla.,820819.0
3,Old Ebbitt Grill,29104017.0,Washington,D.C.,892830.0
4,LAVO Italian Restaurant & Nightclub,26916180.0,New York,N.Y.,198500.0
5,Bryant Park Grill & Cafe,26900000.0,New York,N.Y.,403000.0

In [8]:
# Cleaning top250 CSV

new_top_df = top_df[["Restaurant", "Sales", "Units", "Segment_Category"]].copy()
new_top_df.head()

       Restaurant  Sales  Units             Segment_Category
Rank
1      McDonald's  40412  13846       Quick Service & Burger
2       Starbucks  21380  15049  Quick Service & Coffee Cafe
3     Chick-fil-A  11320   2470      Quick Service & Chicken
4       Taco Bell  11293   6766      Quick Service & Mexican
5     Burger King  10204   7346       Quick Service & Burger

In [10]:
# Connecting to Local DB

db_connection = "postgres:postgres@localhost:5432/etl_project"
engine = create_engine(f'postgresql://{db_connection}')

In [11]:
# Confirm tables
engine.table_names()

['independence100', 'top250']

# Load DataFrames into database

In [12]:
# Independence DF

new_independence_df.to_sql(name='independence100', con=engine, if_exists='append', index=True)

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "Rank" of relation "independence100" does not exist
LINE 1: INSERT INTO independence100 ("Rank", "Restaurant", "Sales", ...
                                     ^

[SQL: INSERT INTO independence100 ("Rank", "Restaurant", "Sales", "City", "State", "Meals Served") VALUES (%(Rank)s, %(Restaurant)s, %(Sales)s, %(City)s, %(State)s, %(Meals Served)s)]
[parameters: ({'Rank': 1, 'Restaurant': "Carmine's (Times Square)", 'Sales': 39080335.0, 'City': 'New York', 'State': 'N.Y.', 'Meals Served': 469803.0}, {'Rank': 2, 'Restaurant': 'The Boathouse Orlando', 'Sales': 35218364.0, 'City': 'Orlando ', 'State': 'Fla.', 'Meals Served': 820819.0}, {'Rank': 3, 'Restaurant': 'Old Ebbitt Grill', 'Sales': 29104017.0, 'City': 'Washington', 'State': 'D.C.', 'Meals Served': 892830.0}, {'Rank': 4, 'Restaurant': 'LAVO Italian Restaurant & Nightclub', 'Sales': 26916180.0, 'City': 'New York', 'State': 'N.Y.', 'Meals Served': 198500.0}, {'Rank': 5, 'Restaurant': 'Bryant Park Grill & Cafe', 'Sales': 26900000.0, 'City': 'New York', 'State': 'N.Y.', 'Meals Served': 403000.0}, {'Rank': 6, 'Restaurant': 'Gibsons Bar & Steakhouse', 'Sales': 25409952.0, 'City': 'Chicago', 'State': 'Ill.', 'Meals Served': 348567.0}, {'Rank': 7, 'Restaurant': 'Top of the World at the STRAT ', 'Sales': 25233543.0, 'City': 'Las Vegas', 'State': 'Nev.', 'Meals Served': 246054.0}, {'Rank': 8, 'Restaurant': 'Maple & Ash', 'Sales': 24837595.0, 'City': 'Chicago', 'State': 'Ill.', 'Meals Served': 210832.0}  ... displaying 10 of 100 total bound parameter sets ...  {'Rank': 99, 'Restaurant': 'Upland', 'Sales': 11965564.0, 'City': 'New York', 'State': 'N.Y.', 'Meals Served': 171825.0}, {'Rank': 100, 'Restaurant': "Virgil's Real Barbecue", 'Sales': 11391678.0, 'City': 'Las Vegas', 'State': 'Nev.', 'Meals Served': 208276.0})]
(Background on this error at: http://sqlalche.me/e/f405)